In [9]:
import pandas as pd

In [10]:
df_liberal = pd.read_json("Liberal.json")
df_conservador = pd.read_json("Conservative.json")

In [11]:
df_liberal.shape, df_conservador.shape

((22554, 9), (22554, 10))

In [12]:
df_liberal.columns, df_conservador.columns

(Index(['urls', 'articles', 'created_utc', 'num_upvotes', 'num_comments',
        'flair', 'url_domain', 'Frequency', 'totalwords'],
       dtype='object'),
 Index(['urls', 'articles', 'created_utc', 'num_upvotes', 'num_comments',
        'flair', 'url_domain', 'Frequency', 'totalwords', 'date'],
       dtype='object'))

In [13]:
df_liberal['label'] = 1
df_conservador['label'] = 0

In [6]:
df_liberal.head(3)

,urls,articles,created_utc,num_upvotes,num_comments,flair,url_domain,Frequency,totalwords
0,http://www.americamagazine.org/blog/entry.cfm?...,The news of Justice David Souter’s retirement ...,1241294002,3,0,[],americamagazine,2,619
1,http://www.rockridgeinstitute.org/research/roc...,Let’s face it. Your goal is to go deer hunting...,1242187364,3,0,[],rockridgeinstitute,1,323
2,http://whohijackedourcountry.blogspot.com/,Don't worry; it's just temporary. When the new...,1242369240,0,0,[],blogspot,251,2052

In [14]:
df_conservador.head(3)

,urls,articles,created_utc,num_upvotes,num_comments,flair,url_domain,Frequency,totalwords,date,label
0,http://beaglescout.wordpress.com/2009/05/13/th...,"Today, prompted by an anecdote at the American...",1242230642,7,4,[],wordpress,1317,2741,2009-05-13,0
1,http://michellemalkin.com/2009/05/15/bad-habit...,This is getting to be a habit. During the stim...,1242410473,6,0,[],michellemalkin,130,344,2009-05-15,0
2,http://www.sfgate.com/cgi-bin/article.cgi?f=/c...,The pundits are wrong. Conventional wisdom is ...,1247584963,0,2,[],sfgate,299,868,2009-07-14,0

In [15]:
df_liberal = df_liberal[['articles', 'label', "urls"]]
df_conservador = df_conservador[['articles', 'label', "urls"]]

In [16]:
df = pd.concat([df_liberal, df_conservador])

In [17]:
df['label'].value_counts()

label
1    22554
0    22554
Name: count, dtype: int64

In [18]:
df.to_parquet("dataset.parquet", index=False)